<% provide(:title, 'Forgot password') %>

<h1>Forgot password</h1>
<%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <%= f.label :mail %>
    <%= f.email_field :mail, class: 'form-control' %> <br/>

    <%= f.submit 'Submit', class: 'btn btn-primary' %><br/>gT
<% end %>
