<div class="col-md-2 col-centered">
  <%= gravatar_for @user %>

  <br/>
  <br/>
  <p>Photos</p>
  <p>Friends</p>
  <p>Audios</p>
</div>
<div class="col-md-3 col-centered">
  <strong><%= @user.name + ' ' + @user.surname %></strong>
  <p><%= @user.status %></p>
</div>
