@import "bootstrap-sprockets";
@import "bootstrap";

header {
  background-color: #4E729A;

  a {
    color: white;
  }
}

small {
  font-size: 80%;
}

.center-block {
  display: table;
  position: relative;
  top: 15px;
  padding-left: 100px;

  a {
    padding-left: 30px;
  }
}

.right-wrap {
  border: 1px solid #b0eef4;
}

.bg-primary input {
  color: black;
}

.bg-primary input {
  color: black;
}

.bg-primary select {
  color: black;
}

.bg-primary a {
  color: white;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.flash {
  @extend .text-center;
  color: blue;
}
